{% extends 'layout/index.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid viewport-container gradient-bg p-0 d-flex justify-content-center align-items-center"
  id="mainContainer">
  <main class="card card-login m-3">
    <div class="card-body d-flex flex-wrap">
      <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-light main-title">ToDo</h1>
        <h3 class="subtitle">By Hazdan</h3>
      </div>
      <div class="col-md-7 login-col d-flex flex-column justify-content-around align-items-center">
        <h2 class="title">
          Login
        </h2>
        {% if messages %}
        <div class="alerts">
          {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
        <form class="d-flex flex-column align-items-center w-100 mx-5 px-5 mb-5" action="{% url 'login' %}"
          method="POST">
          <div class="col-md-10">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-row">
              <input class="btn btn-primary font-weight-bold col-md-3 mx-auto mt-4" type="submit" value="Login">
            </div>
            <div class="form-row mt-3">
              <p class="m-auto">
                Don't have an account? <a class="text-secondary " href="{% url 'signup' %}">Signup</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}